<h1>{{ m.module_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{#<form action="{% url 'studyplanner:detail' m.id %}" method="post">#}
{% csrf_token %}
{% for cw in courseworks %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ cw.id }}">
    <label for="choice{{ forloop.counter }}">{{ cw.cw_name }}</label><br>
{% endfor %}
<input type="submit" value="Add Task">
</form>