{% load static %}
<html>
<head>

    <link  rel="stylesheet" href="{% static 'css/main.css' %}">
    <title> study planner</title>


</head>
<body>
<h1>Spring Semester</h1>

{% if all_modules %}
    <ul>
    {% for m in all_modules %}
        <li><a href="{% url 'studyplanner:detail' m.id%}">{{ "Module: " }}{{ m.module_name}}  {{ "Code: " }} {{ m.module_code }}  {{ "Duration: " }} {{ m.module_duration }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Modules available.</p>z
{% endif %}

</body>
</html>